@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.subnav-parent {
  position: relative;
}

.subnav-parent:hover .subnav, .subnav:hover {
  opacity: 1;
  transition: opacity 250ms ease-out 0s, visibility 0s linear;
  visibility: visible;
}

.subnav {
  position: absolute;
  opacity: 0;
  left: calc(1rem - 12px);
  z-index: 1;
  width: min-content;
  margin-top: 15px;
  padding: 2px 12px 12px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
  transition: opacity 250ms ease-out 300ms, visibility 750ms linear;
  visibility: hidden;
}

.subnav li {
  padding-top: 10px;
  width: max-content;
  font-size: 18px;
}

.bg-black-60 nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header {
  transition: background-color 250ms;
}

.bg-black-60 .header-scrolled {
  background-color: #000000;
}

#recent-posts {
  display: none;
}

.title {
  font-size: 2rem;
}

.book-now-button {
  background: transparent;
  border: 1px solid white;
  padding: 12px 15px;
  margin-left: 10px;
  transition: background-color 250ms, color 250ms;
}

.book-now-button:hover {
  background: #FFFFFF;
  color: black;
  cursor: pointer;
}

.book-now-form {
  width: calc(100% + 220px);
  margin-left: -110px;
  background-color: #eee;
  border: 1px solid #aaa;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.book-now-form > * {
  margin-left: 20px;
  height: 40px;
}

.book-now-form > *:first-child {
  margin-left: 0;
}

.book-now-form input[type=date] {
  width: 150px;
  font-size: 16px;
  height: calc(100% - 14px);
  padding: 5px;
  margin-left: 10px;
}

.book-now-form input[type=button] {
  width: 150px;
  font-size: 18px;
  background-color: white;
  font-weight: bold;
  border: 1px solid #333;
  color: black;
  transition: background-color 250ms, color 250ms;
}

.book-now-form input[type=button]:hover {
  background: black;
  color: white;
  cursor: pointer;
}
