@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.subnav-parent {
  position: relative;
}

.subnav-parent:hover .subnav, .subnav:hover {
  opacity: 1;
  transition: opacity 250ms ease-out 0s;
}

.subnav {
  position: absolute;
  opacity: 0;
  right: 0;
  z-index: 1;
  width: min-content;
  margin-top: 10px;
  padding: 2px 10px 10px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: right;
  transition: opacity 250ms ease-out 500ms;
}

.subnav li {
  padding-top: 8px;
  width: max-content;
}

.bg-black-60 nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header {
  transition: background-color 150ms;
}

.bg-black-60 .header-scrolled {
  background-color: #000000;
}

#recent-posts {
  display: none;
}

.title {
  font-size: 2rem;
}

